@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>
Welcome to the Florida Storm Landfall (FSL) app.
This app contains a table of the storms that have had landfall in Florida since 1900.
The data used to create this table, along with additional information about these storms, can be found on the NOAA website at:<br />
<a href="https://www.aoml.noaa.gov/hrd/hurdat/Data_Storm.html">aoml.noaa.gov</a>
</p>

<p>
A reverse geocoding API from Nominatim was used to determine if the storm reached Florida.
More information about this API can be found on their website:<br />
<a href="https://nominatim.org/release-docs/develop/api/Reverse">nominatim.org</a>
</p>

<p>
This is a Blazor app that was developed with the help of the tutorials produced by Microsoft.
If you would like to learn more about starting to code with C# and .NET, you can view their information here:<br />
<a href="https://dotnet.microsoft.com/en-us/learn/csharp">dotnet.microsoft.com/en-us/learn/csharp</a><br />
<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/?view=aspnetcore-9.0">learn.microsoft.com/en-us/aspnet/core/blazor/tutorials</a>
</p>